affinegap==1.11
ago==0.0.93
aiohttp==3.7.3
appdirs==1.4.4
async-timeout==3.0.1
attrs==20.3.0
Automat==20.2.0
awscli==1.19.51
backcall @ file:///home/ktietz/src/ci/backcall_1611930011877/work
beautifulsoup4==4.9.3
blis==0.7.4
botocore==1.20.51
bs4==0.0.1
BTrees==4.8.0
catalogue==2.0.1
categorical-distance==1.9
cchardet==2.1.7
certifi==2020.12.5
cffi==1.14.5
chardet==3.0.4
click==7.1.2
colorama==0.4.3
constantly==15.1.0
cryptography==3.4.7
cssselect==1.1.0
cycler==0.10.0
cymem==2.0.5
datetime-distance==0.1.3
decorator @ file:///home/ktietz/src/ci/decorator_1611930055503/work
dedupe==2.0.8
dedupe-hcluster==0.3.8
dedupe-variable-datetime==0.1.5
docutils==0.15.2
dotmap==1.3.23
DoubleMetaphone==0.1
elasticsearch==7.12.0
en-core-web-lg @ https://github.com/explosion/spacy-models/releases/download/en_core_web_lg-3.0.0/en_core_web_lg-3.0.0-py3-none-any.whl
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.0.0/en_core_web_sm-3.0.0-py3-none-any.whl
facebook-sdk==3.1.0
fastcluster==1.1.28
feedfinder2==0.0.4
feedparser==6.0.2
filelock==3.0.12
Flask==1.1.2
future==0.18.2
fuzzywuzzy==0.18.0
gensim==3.8.3
h2==3.2.0
haversine==2.3.1
highered==0.2.1
hjson==3.0.2
hpack==3.0.0
hurry.filesize==0.9
hyperframe==5.2.0
hyperlink==21.0.0
idna==2.10
incremental==21.3.0
ipykernel @ file:///C:/ci/ipykernel_1607454116140/work/dist/ipykernel-5.3.4-py3-none-any.whl
ipython @ file:///C:/ci/ipython_1612212932352/work
ipython-genutils @ file:///tmp/build/80754af9/ipython_genutils_1606773439826/work
itemadapter==0.2.0
itemloaders==1.0.4
itsdangerous==1.1.0
jedi @ file:///C:/ci/jedi_1606932640618/work
jieba3k==0.35.1
Jinja2==2.11.3
jmespath==0.10.0
joblib==1.0.1
jupyter-client @ file:///tmp/build/80754af9/jupyter_client_1601311786391/work
jupyter-core @ file:///C:/ci/jupyter_core_1612213515523/work
kiwisolver==1.3.1
langdetect==1.0.8
Levenshtein-search==1.4.5
libsvm==3.23.0.4
lxml==4.6.2
MarkupSafe==1.1.1
matplotlib==3.3.4
mediacloud==3.12.1
multidict==5.1.0
murmurhash==1.0.5
news-please==1.5.21
newsapi-python==0.2.6
newspaper3k==0.2.8
nltk==3.5
numpy==1.20.0
octis==1.2.0
packaging==20.9
pandas==1.2.1
parsel==1.6.0
parso==0.7.0
pathy==0.4.0
patsy==0.5.1
persistent==4.7.0
pickleshare @ file:///tmp/build/80754af9/pickleshare_1606932040724/work
Pillow==8.1.0
plac==1.3.3
preshed==3.0.5
priority==1.3.0
prompt-toolkit @ file:///tmp/build/80754af9/prompt-toolkit_1602688806899/work
Protego==0.1.16
psycopg2-binary==2.8.6
pyaml==20.4.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.20
pydantic==1.7.3
PyDispatcher==2.0.5
pyee==8.1.0
Pygments @ file:///tmp/build/80754af9/pygments_1610565767015/work
pyhacrf-datamade==0.2.5
PyLBFGS==0.2.0.13
PyMySQL==1.0.2
pyOpenSSL==20.0.1
pyparsing==2.4.7
pyppeteer==0.2.5
python-dateutil @ file:///home/ktietz/src/ci/python-dateutil_1611928101742/work
python-dotenv==0.15.0
python-Levenshtein==0.12.2
pytz==2021.1
pywin32==228
PyYAML==5.4.1
pyzmq==20.0.0
queuelib==1.5.0
readability-lxml==0.8.1
regex==2020.11.13
requests==2.25.1
requests-file==1.5.1
rlr==2.4.5
rsa==4.7.2
s3transfer==0.3.7
sacremoses==0.0.45
scikit-learn==0.24.1
scikit-optimize==0.8.1
scipy==1.6.0
Scrapy==2.5.0
sentence-transformers==1.1.0
sentencepiece==0.1.95
service-identity==18.1.0
sgmllib3k==1.0.0
simplecosine==1.2
six @ file:///C:/ci/six_1605205404068/work
sklearn==0.0
smart-open==3.0.0
soupsieve==2.1
spacy==3.0.3
spacy-legacy==3.0.1
srsly==2.4.0
statsmodels==0.12.2
thinc==8.0.1
threadpoolctl==2.1.0
tinysegmenter==0.3
tldextract==3.1.0
tokenizers==0.10.2
tomotopy==0.11.1
torch==1.8.1
tornado @ file:///C:/ci/tornado_1606924294691/work
tqdm==4.56.0
traitlets @ file:///home/ktietz/src/ci/traitlets_1611929699868/work
transformers==4.5.1
Twisted==21.2.0
twisted-iocpsupport==1.0.1
typer==0.3.2
typing-extensions==3.7.4.3
urllib3==1.26.3
w3lib==1.22.0
warcio==1.7.4
wasabi==0.8.2
wcwidth @ file:///tmp/build/80754af9/wcwidth_1593447189090/work
websockets==8.1
Werkzeug==1.0.1
wincertstore==0.2
yarl==1.6.3
zope.index==5.0.0
zope.interface==5.3.0
